{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Playlist 1
  </h3>
  
    <p>
      A Little Playlist Maker - Version 1
    </p>
    </section>
<section class="box is-3 content has-text-weight-bold">
    <p>
      Playlist is brought to you by the same team of Weather Top
    </p>
    <div>
      <ol>
        <li>For any inquiries, please reach out to us at contact@playlistapp.com.</li>
        <li>Need assistance? Call our support team at +1 (555) 123-4567.</li>
        <li>Connect with us on social media: Follow us on Twitter @PlaylistApp or find us on Facebook at facebook.com/PlaylistApp.</li>
      </ol>
    </div>
</section>
